<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Playlist</title>
<link rel="stylesheet" th:href="@{/createplaylists.css}">
</head>
<body>
    <div class="container">
        <h1>Add Playlist</h1>
        <form action="addplaylist" method="post" th:object="${playlist}">
            <label for="name">Playlist Name:</label><br>
            <input type="text" id="name" name="name" th:field="*{name}">
            <br><br>
            <label>Songs:</label><br>
            <div th:each="song : ${songs}">
                <input type="checkbox" th:id="${'song_' + song.id}" th:name="songs" th:value="${song.id}">
                <label th:for="${'song_' + song.id}" th:text="${song.name}"></label><br>
            </div>
            <br>
            <input type="submit" value="ADD PLAYLIST">
        </form>
    </div>
</body>
</html>
