<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>
    <div class="container">
        <form action="validate" method="post">
            <h2>USER LOGIN:</h2>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email">
            <br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">
            
            <br><br>

            <input type="submit" value="LOGIN">
        </form>
    </div>
</body>
</html>
